{% extends "catalog/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}New Task{% endblock %}

{% block content %}
<h3>New Task</h3>
<p>
  {% if type_task_id == None %}
      <a href="{{ url_for('mod_catalog.tasks') }}" class="btn btn-sm btn-warning pull-right" role="button">Volver</a>
  {% else %}
      <a href="{{ url_for('mod_catalog.tasks', type_task_id = type_task_id)}}" class="btn btn-sm btn-warning pull-right" role="button">Volver</a>
{% endif %}
</p>


<div class="col-md-9">
  <div class="input-group">
    {{ wtf.quick_form(form) }}
  </div>
</div>
{% endblock %}
