{% extends "catalog/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Tasks{% endblock %}

{% block content %}
<h3>Tasks</h3>

<p>
  {% if type_task_id == None %}
      <a href="{{ url_for('mod_catalog.newTask') }}" class="btn btn-sm btn-success pull-right" role="button">New</a>
  {% else %}
      <a href="{{ url_for('mod_catalog.newTask',type_task_id = type_task_id)}}" class="btn btn-sm btn-success pull-right" role="button">New</a>
{% endif %}

</p>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
              <tr>
                <th>Type Task</th>
                <th>Task</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
              <tr>
                <td>{{ task.type_task.name }}</td>
                <td><a href="{{ url_for('mod_catalog.showTask', task_id = task.id ) }}" class="btn btn-xs btn-link" role="button">{{task.name}}</a></td>
                <td>{{ task.description }}</td>
                <td>{{ task.startDate }}</td>
                <td>{{ task.endDate }}</td>
                <td><a href="{{ url_for('mod_catalog.editTask', task_id = task.id ) }}" class="btn btn-xs btn-link" role="button">Edit</a></td>
                <td><a href="{{ url_for('mod_catalog.deleteTask', task_id = task.id ) }}" class="btn btn-xs btn-link" role="button">Delete</a></td>
              </tr>
                <h2></h2>
            {% endfor %}
            </tbody>
          </table>
        </div>
  </div>

  {% if paginationTasks %}
  <div class="pagination">
      {{ macros.pagination_widget(paginationTasks, '.tasks') }}
  </div>
  {% endif %}

{% endblock %}
